<div class="border titleBarPanel" id="bpp-chat">
    <div class="containerHead">
        <div class="containerIcon">
            <a href="#toggleircChat">
                <img src="wcf/icon/iChatS.png">
            </a>
        </div>
        <div class="containerContent">
            Chat
        </div>
    </div>
    <div class="bpp-chat-messages"></div>
    <input type="text" class="bpp-chat-input" placeholder="Hier schreiben">
    <a class="bpp-chat-submit" title="Absenden"><img src="wcf/icon/searchSubmitS.png"></a>
</div>