<div class="border titleBarPanel bpp-chat-<%= small ? 'small' : 'large' %>" id="bpp-chat">
    <div class="containerHead">
        <div class="containerIcon">
            <a href="#" id="bpp-toggleChat"><img src="wcf/icon/<%= open ? 'minus' : 'plus' %>S.png" alt=""></a>
        </div>
        <div class="containerContent">
            <img src="wcf/icon/iChatS.png" alt=""> Chat
            <a href="#" class="bpp-toggleSize" title="Chat vergrößern/verkleinern"><img src="wcf/icon/externalURLHover.png" alt=""></a>
        </div>
    </div>
    <% if (open) { %>
    <div class="bpp-chat-contents">
    <% } else { %>
    <div class="bpp-chat-contents" style="display:none">
    <% } %>
        <div class="bpp-chat-messages"></div>
        <input type="text" class="bpp-chat-input" placeholder="Hier schreiben">
        <a class="bpp-chat-submit" title="Absenden"><img src="wcf/icon/searchSubmitS.png" alt=""></a>
    </div>
</div>