<h3 class="subHeadline">Spitznamen</h3>
<% if (alert) {%>
<div class="info"><%= alert %></div>
<% } %>
<% if (nicknames.length > 0) {%>
<div class="border">
    <table class="tableList">
        <thead>
            <tr class="tableHead">
                <th><div><span class="emptyHead">Benutzername</span></div></th>
                <th><div><span class="emptyHead">Spitzname</span></div></th>
            </tr>
        </thead>
        <tbody>
            <% _.each(nicknames, function (nickname) { %>
            <tr class="container-<%= nickname.cycle %>">
                <td><a href="http://forum.sa-mp.de/index.php?page=User&amp;userID=<%= nickname.userId %>"><%= nickname.name %></a></td>
                <td><%= nickname.nick %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% } %>