<div class="bpp-screenshot-info">
    <p>Dein Screenshot wird gerade erstellt und ist in wenigen Sekunden unter folgender Adresse erreichbar:</p>
    <div>
        <img src="<%- url %>">
    </div>
    <p>
        <input type="text" class="inputText" value="<%- url %>" readonly>
    </p>
</div>