<li>
    <a class="bpp-screenshot-post" href="#<%- postId %>" title="Screenshot von diesem Beitrag erstellen">
        <img src="wcf/icon/wysiwyg/insertImageM.png" height="14" alt="">
        <span>Screenshot</span>
    </a>
</li>