<li>
    <a class="bpp-shorturl" href="<%- url %>" title="Kurz-URL zu diesem Beitrag">
        <img src="wcf/icon/wysiwyg/linkInsertM.png" height="14" alt="">
        <span>Kurz-URL</span>
        <input class="bpp-shorturl-input" type="text" value="<%- url %>" readonly>
    </a>
</li>