<div class="bpp-youtube-preview">
    <div class="bpp-youtube-preview-thumbnail" style="background-image: url('<%- thumbnail %>')"></div>
    <div class="bpp-youtube-preview-title"><%- title %></div>
    <div class="bpp-youtube-preview-author">Von <a href="http://www.youtube.com/user/<%- author %>" target="_blank"><%- author %></a>, hochgeladen am <span><%- uploadTime %></span></div>
    <div class="bpp-youtube-preview-length"><img src="wcf/icon/dateS.png"> <%- length %></div>
    <div class="bpp-youtube-preview-clicks"><img src="wcf/icon/visitsM.png"> <%- clicks %></div>
    <a class="bpp-youtube-preview-link" href="#">Videoplayer anzeigen</a>
    <a class="bpp-youtube-preview-link-blank" target="_blank" href="http://www.youtube.com/watch?v=<%- videoId %>">Video in einem neuen Tab öffnen</a>
</div>